*{ /* Afecta a todo el contenido de la pagina web*/
    box-sizing: border-box;
}
/*Cabecera y pie de pagina*/
header{
background-color: white; /* Color de fondo*/
text-align: center; /* Alineacion del texto*/
border-style: solid; /* Tipo de borde */
border-radius: 30px; /* Nivel de redondo del cuador */
padding: 5px; /* Blanco que hay en el recuadro*/
clear: both; /* No aplica los cambios generales de todas las clases*/
color: black /* Color de la letra*/
}
.Separador{
    padding: 1200px; /* Separacion*/
}
body{
    background-color: blueviolet;
    color: white;
    
}
.separador img{
    width: 30%; /* Tamaño del recuadro*/
    display: block; /* El elemento se trata como un bloque*/
    border-style: solid;
    border-color: white; /* Color de los bordes del elemnto*/
    float: left; /* Alineacion de los elementos*/
    
}
.separador1{
    height: 1px; /* Altura del elemento*/
    width: 30px; /* Anchura del elemento*/
    
}

footer{
background-color: white; /* Color de fondo*/
text-align: center; /* Alineacion del texto*/
border-style: solid; /* Tipo de borde */
border-radius: 30px; /* Nivel de redondo del cuador */
padding: 5px; /* Blanco que hay en el recuadro*/
clear: both;/* No aplica los cambios generales de todas las clases*/
color: black /* Color de la letra*/
}