*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: palegreen;
}
header{
    text-align: right;
    color: mediumblue;
}
.primero{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
}
img{
    width: 200px
}
.tercero{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
}
h2{
    background-color: darkgreen;
    color: white;
}
