*{
    box-sizing: border-box;
}
body{
    background-color:seagreen;
}
header{
    color: white;
}
.inicio{
    display: block;
    border-style: solid;
    border-radius: 15px;
    clear: both;
    background-color: white;
    width: 50%;
    border-width: 5px;
    margin-left: 25%;
    margin-right: 25%;
}
.rojo{
    display: block;
    border-style: solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: darkred;
    clear: both;
    background-color: red;
    color: white;
    width: 50%;
    float: left;
    border-width: 5px;
}
.amarillo{
    display: block;
    border-style: solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: yellow;
    clear: both;
    background-color: yellowgreen;
    color: white;
    width: 50%;
    float: right;
    border-width: 5px;
}
.azul{
    display: block;
    border-style: dashed;
    border-color: deepskyblue;
    clear: both;
    background-color: blue;
    color: white;
    width: 50%;
    border-width: 5px;
    margin-left: 25%;
    margin-right: 25%;
}