.google{
    text-align: center;
    display: block;
    padding-top: 5%;
    font-size: 30px;
}
.cuadrado{
    text-align: center;
    color: gray;
    display: block;
    
}
.footer{
    background-color: whitesmoke;
    color: gray;
}
input{
    border-radius: 20px;
    width: 30%;
    padding-bottom: 10px
}
.idioma{
    padding-bottom: 230px;
}
.abajo{
    display: grid;
    grid-template-columns: auto 250px;
    grid-gap: 0px;
}
.arriba{
    display: grid;
    grid-template-columns: auto 210px;
    grid-gap: 0px;
}
footer{
    background-color: whitesmoke;
}