*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: aquamarine;
}
header{
    text-align: center;
}
.enlace{
    text-align: center;
}
.primero{
    clear: both;
    width: 75%;
    background-color: white;
    border: 15px solid darkorange;
    margin-left: auto;
    margin-right: auto;
}
.izquierda{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.british{
    border: 11px solid orange;
    clear: both;
}
.separador{
    10px;
}
.segundo{
    clear: both;
    width: 75%;
    background-color: white;
    border: 15px solid orange;
    margin-left: auto;
    margin-right: auto;
}
.derecha{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.Tate{
    width: 90%;
    border: 11px solid darkorange;
    float: left;
}
.tercero{
    clear: both;
    width: 75%;
    background-color: white;
    border: 15px solid darkorange;
    margin-left: auto;
    margin-right: auto;
}
.national{
    
    width: 100%;
    border: 11px solid darkorange;
    float: left;
}
.cuarto{
    clear: both;
    width: 75%;
    background-color: white;
    border: 15px solid orange;
    margin-left: auto;
    margin-right: auto;
}
.natural{
    width: 90%;
    border: 11px solid darkorange;
    float: left;
}