*{
    box-sizing: border-box;
    margin: 0px;
}
main{
    background-image:url(huercal.jpg);
    display: block;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.arriba{
    display: grid;
    grid-template-columns: auto 80px;
    grid-gap: 0px;
}
.header{
    color: white;
}
.botones{
    color: white;
    background-color: black;
    opacity: 50%;
    border-style: solid;
    border-radius: 7px;
}
.abajo{
    
}