*{
    box-sizing: border-box;
    margin: 0px;
}
header{
    color: deepskyblue;
    border-style: dashed;
    border-radius: 10px;
    width: 50%;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
img{
    width: 250px;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.tabla{
    border-style: solid;
    border-color: blue;
    border-width: 10px;
}
td,th{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
table{
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    }
.Titulo{
    color: darkslategray;
    clear: both;
}
.celda{
    border: 2px solid dimgray;
    border-top: white;
    border-left: white;
}
.precio{
   background-color: whitesmoke;
}
.memoria{
    background-color: whitesmoke;
}
.pulgadas{
    background-color: whitesmoke;
}