body{
    background-color: plum;
}

header{
    background-color: darkslateblue;
    text-align: center;
    border-style: solid;
    border-color: white;
    padding: 5px;
    color: white
}

.Separador1{
    padding: 10px;
}

.Inicio{
    text-align: left;
    display: block;
    border-style: dashed;
    border-color: black;
    padding: 5px;
    background-color: white;
}

.Separador2{
    padding: 10px;
}

.bloque1{
    text-align: left;
    display: block;
    border-style: dashed;
    border-color: black;
    padding: 5px;
    background-color: white;
}

.Separador3{
    padding: 10px;
}

.bloque2{
    text-align: left;
    display: block;
    border-style: dashed;
    border-color: black;
    padding: 5px;
    background-color: white;
}
.Separador4{
    padding: 10px;
}
.bloque3{
    text-align: left;
    display: block;
    border-style: dashed;
    border-color: black;
    padding: 5px;
    background-color: white;
    float: left;
    display: block;
}

.Separador5{
    padding: 10px;
    clear: both;
}

.Final{
    text-align: left;
    display: block;
    border-style: dashed;
    border-color: black;
    padding: 5px;
    background-color: white;
    clear: both;
}
footer{
    background-color: darkslateblue;
    text-align: center;
    border-style: solid;
    border-color: white;
    padding: 5px;
    color: white;
    clear: both;
}
img{
    float: left;
    width: 700px;
    display: block;
}
.largo{
    height: 5px;
}
.ancho{
    height: 5px;
    width: 30px;
}
.bloque3 img{
    transition: all 1s ease;
}
.bloque3 img:hover{
    transform: scale(1.1)
}