*{
    box-sizing: border-box; 
}
body{
    background-color: black;
}
/*Codigo del Menu y del logo */
.LogoyNombre{
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
}
img{
    width: 30px;
    background-color: white;
}
a{
    text-decoration: none;
    border: 2px solid white;
    background-color: white;
    color: black;
    background-color: white;
}
.MenuPrincipal{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 200px;
    grid-gap: 100px;
    color: black;
    background-color: white;
    width: 100%;
}
.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
    background-color: white;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid white;
    background-color: white;
}
.input-data input:focus ~ label{
    transform: translateY(-20px);
    background-color: white;
}
.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: white;
}
/* Codigo CSS de las listas de exitos */
table{
    text-align: center;
    color: white;
    width: 100%;
    border-collapse: collapse;
}
td,th{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid white;
    border-top: white;
    border-left: white;
}
caption{
    clear: both;
    background-color: white;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.contenerdor{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: black;
}

.fade{
    text-align: center;
    display: none;
}
.atr, .sig{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
}
.sig{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.atr:hover, .sig:hover {
    background-color: rgba(0,0,0,0.8);
}
.texto{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.NumeroTexto{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@media (min-width:700px){
    div{
        grid-auto-flow: column;
    }
}
div a:hover{
    background-color: black;
    color: white;
    opacity: 0.7;
}