*{
    box-sizing: border-box;
}
.LogoyNombre{
    display: grid;
    grid-template-columns: auto auto;
}
a{
    text-decoration: none;
    border: 2px solid white;
    background-color: white;
    color: black;
}
.MenuPrincipal{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 200px;
    grid-gap: 100px;
    color: black;
    width: 100%;
}
.LogoyNombre img{
    width: 30px;
}
.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid black;
}
.input-data input:focus ~ label{
    transform: translateY(-20px);
}
.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.Listas{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    width: 100%;
    background-color: black;
}
.Listas img{
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    transition: all 0,3s linear;
}
img:hover{
    transform: scale(0.9);
}
div a:hover{
    background-color: black;
    color: white;
    opacity: 0.7;
}
